JOERN_PATH=/path/to/joern-2.0.260
CTAGS_PATH=/path/to/ctags
DEEPSEEK_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o
DEEPSEEK_MODEL=deepseek-chat
TEXT_GENERATION_WEBUI_PORT=5000
CODELLAMA_BASE_MODEL_PATH=/path/to/CodeLlama-13b-hf
CODELLAMA_LORA_PATH=/path/to/lora/checkpoint
